
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    overflow: visible;
}
.card-body {
    margin-top: 7px;
    margin-left: 20px;
}
.card-text {
    text-align: center;
    margin-top: 16px;
}
.expanded-text {
    margin-top: 15px;
}
.icon-del {
    float: right;
    color: red;
    border: 0;
    background-color: white;
}
.icon-val {
    float: right;
    color: green;
    border: 0;
    background-color: white;
}
@media screen and (max-width: 992px) {
    .container {
        display: block;
    }
    mat-expansion-panel {
        margin: 0 auto;
        margin-top: 30px;
    }
  }